venv/
accessibility_env/
/ally_env/
ally_env/
__pycache__/
.DS_Store
accessibility_results/
logs/
test_functions_unused/
new_accessibility_checker.py
.vscode/
tests/
# Node.js
node_modules/
npm-debug.log

# Local axe-core directory
axe-core/
.streamlit/secrets.toml
